{% extends "layout.html" %}

{% block head %}
	<script src="{{ url_for('static', filename='vendor/codemirror/codemirror.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/codemirror.css') }}" media="screen"/>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/codemirror-custom.css') }}" media="screen">
	<script src="{{ url_for('static', filename='js/transformer-editor.js') }}"></script>
{% endblock%}

{% block body %}
	<h1>Create a Transformer</h1>
	<form method="post" action="{% if name %}{{url_for('.edit', name=name) }}{%else%}{{ url_for('.new') }}{%endif%}">
		<fieldset>
			<div class="controls controls-row">
				<input class="span9 input-xxlarge" type="text" id="title" name="name" value="{{name}}" placeholder="Enter a title for your transformer" maxlength="100" />
			</div>
			<div class="controls">
				<textarea id="code" name="code" class="span9">{{code|safe}}</textarea>
			</div>
			<div class="controls controls-row">
				<input type="submit" class="btn btn-primary btn-xxlarge pull-right" value="Save"/>
			</div>
		</fieldset>
	</form>
	<div id="table_div_json"></div>
{% endblock %}