{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}

{% block body %}
	<div id="content">        
		<h1>Transformers</h1>

		<ul class="admin">
		    {%for transformer in transformers%}
		    <li>
				<a class="name" href="/transformer/{{transformer.name}}">{{transformer.name}}</a>
				<a href="/transformer/{{transformer.name}}/delete"class="delete-variable btn btn-danger btn-small">
					<i class="icon-white icon-trash"></i>Delete
				</a>
				<a href="{{url_for('.edit', name=transformer.name)}}" class="btn btn-small">
					<i class="icon-edit"></i>Edit
				</a>				
		    </li>
			{%endfor%}    
		</ul>

		<a id="create" href="/transformer/new" class="button pill big primary">
		  Create a Transformer
		</a>
      </div>
{% endblock %}