{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}


{% block body %}
    <p>
        <img src="{{ client.icon }}" width="50" height="50" />
        {{ client.description }}
    </p>

    <div>
        This app needs these permissions
        <ul>
            {% for permission in premissions %}
            <li>{{ permission }}</li>
            {% endfor %}
        </ul>
    </div>

    <form method="post" action="/oauth/submit">
        <input type="hidden" name="client_id" value="{{ client.client_id }}" />
        {% if scope %}
        <input type="hidden" name="scope" value="{{ scope }}" />
        {% endif %}
        {% if response_type %}
        <input type="hidden" name="response_type" value="{{ response_type }}" />
        {% endif %}
        {% if redirect_uri %}
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
        {% endif %}
        <input type="submit" name="user_action" value="Approve" class="btn btn-primary btn-xxlarge"/>
        <input type="submit" name="user_action" value="Reject"  class="btn btn-xxlarge"/>
    </form>
{% endblock %}