{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}


{% block body %}
<div class="dialog">
    <div class="app-container">
        <div class="fl app-info">
            <p class="app-description">
                <img class="fl app-image" src="{{ application.icon }}" width="50" height="50" />
                {{ application.description }}
            </p>

            <div class="app-perms">
                This app needs these permissions
                <ul>
                    {% for permission in premissions %}
                    <li>{{ permission }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <form method="post" action="/oauth/submit">
            <input type="hidden" name="client_id" value="{{ application.client_id }}" />
            {% if scope %}
            <input type="hidden" name="scope" value="{{ scope }}" />
            {% endif %}
            {% if response_type %}
            <input type="hidden" name="response_type" value="{{ response_type }}" />
            {% endif %}
            {% if redirect_uri %}
            <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
            {% endif %}
            <input type="submit" name="user_action" value="Approve" class="btn btn-primary btn-xxlarge"/>
            <input type="submit" name="user_action" value="Reject"  class="btn btn-xxlarge"/>
        </form>
    </div>
</div>

{% endblock %}