{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
    <h1>Welcome to CoolaSQL Query Tool</h1>
    <p></p>
  <p>
      CoolaSQL Query Tool, allow you to query data online using SQL, including CoolaSQL behavioral extensions.


      <br>
      You start by creating a <a href="{{url_for('connection_string.new')}}">connection</a> to your project data.<br>
      After the connection is ready you can start <a href="{{url_for('query.new')}}">query</a> it using Cooladata SQL syntax.
  </p>
   <p>
      {% if not g.user %}
      But <b>first</b> you need to <a href="{{url_for('user.login')}}">login</a> using your Google account.
      {% endif %}
</p>
</div>
{% endblock %}