{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}

{% block body %}
    <div id="content">
        <fieldset>
            <legend>Queries</legend>
        </fieldset>
        <div id="modal-from-dom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Delete Query</h4>
                    </div>

                    <div class="modal-body">
                        <p>You are about to delete a query, this procedure is irreversible.</p>

                        <p>Do you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="buton" data-dismiss="modal" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="admin">
            {%for query in queries%}
                <li>
                    <a class="name" href="{{url_for('.edit', name=query.name) }}">{{query.name}} <small class="label label-info">{{query.connection.name}}</small></a>

                    <button data-href="{{url_for('.delete', name=query.name) }}" type="button" data-toggle="modal" data-target="#modal-from-dom" class="confirm-delete btn btn-danger btn-small">
                        <i class="icon-white icon-trash"></i>&nbsp;Delete
                    </button>
                </li>
            {% else%}
                No query created.
            {%endfor%}
        </ul>

        <a id="create" href="{{url_for('.new')}}" class="button pill big primary">
            Create a Query
        </a>
    </div>
{% endblock %}

{% block postbody %}
    <script type="text/javascript">
        $('#modal-from-dom').on('shown.bs.modal', function () {
            var href = $(this).data('href'),
                li = $(this).data('li'),
                removeBtn = $(this).find('.btn-danger');

            removeBtn.click(function() {
                $.ajax({
                    type: "DELETE",
                    url: href
                });

                $('#modal-from-dom').modal('hide');

                li.fadeOut(function() {
                    $(this).remove();
                });

                return false;
            });
        });

        $('.confirm-delete').click(function() {
            var href = $(this).data('href');
            $('#modal-from-dom').data({'href': href, 'li': $(this).parent()}).modal('show');
        });
    </script>
{% endblock %}