{% extends "layout.html" %}

{% block head %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='vendor/codemirror/codemirror.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/codemirror.css') }}" media="screen"/>
	<script src="{{ url_for('static', filename='vendor/codemirror/sql.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/codemirror-custom.css') }}" media="screen">
	<script src="{{ url_for('static', filename='vendor/jquery.sheepItPlugin.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sql-editor.js') }}"></script>
{% endblock%}

{% block body %}
<div class="span9 offset2">

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" media="screen">
	<form id="sheepItForm" method="post" action="{% if query_name %}{{url_for('.query_home', query_name=query_name) }}{%else%}{{ url_for('.create_query') }}{%endif%}">
		<fieldset>
			<div class="controls controls-row">
				<input class="span9 input-xxlarge" type="text" id="title" name="query-name" value="{{query_name}}" placeholder="Enter a title for your query" maxlength="100" />
			</div>
			<div class="controls">
				<textarea id="sql" name="sql" class="span9" rows="5">{{sql|safe}}</textarea>
			</div>
			<div class="controls controls-row">
					<input id="sql-execute" type="submit" class="btn btn-primary btn-xxlarge pull-right" value="Execute"/>
			</div>
			<div id="vars">
				{%for name,value in vars%}
					<div class="control-group">
						<label class="control-label" id="dynfield-label{{loop.index0}}" for="dynfield{{loop.index0}}">{{name}}</label>
						<div class="controls">
							<input class="input-xlarge" type="text" name="{{name}}" {%if not value is none%}value="{{value}}"{%endif%} id="dynfield{{loop.index0}}">
						</div>
					</div>
				{%endfor%}
			</div>
			{% macro addVariableSection(prefix, index=None, name=None, options=None) -%}
				<div id="sheepItForm_template{%if not index is none%}{{index}}{%endif%}" class="controls-row controls {%if not index is none%}cloned-input{%endif%}" {%if not index is none%}idtemplate="sheepItForm_template"{%endif%}>
						<input id="sheepItForm_{{prefix}}_name" data-var-index="{{prefix}}" class="span2 var-name" type="text" name="var-name{{prefix}}" placeholder="Varibale name" maxlength="10" value="{%if name%}{{name}}{%else%}Variable{{prefix}}{%endif%}" {%if not index is none%}idtemplate="sheepItForm_%23index%23_name" nametemplate="var-name%23index%23"{%endif%} />
						<select id="sheepItForm_{{prefix}}_type" class="span2" type="select" name="var-type{{prefix}}" {%if not index is none%}idtemplate="sheepItForm_%23index%23_type" nametemplate="var-type%23index%23"{%endif%}>
								<option {% if options.type == "string" %}selected="selected"{% endif %}>string</option>
								<option {% if options.type == "integer" %}selected="selected"{% endif %}>integer</option>
								<option {% if options.type == "float" %}selected="selected"{% endif %}>float</option>
						</select>
						<input id="sheepItForm_{{prefix}}_default" class="span2" type="text" name="var-default{{prefix}}" placeholder="Default value" value="{{options.default}}" {%if not index is none%}idtemplate="sheepItForm_%23index%23_default" nametemplate="var-default%23index%23"{%endif%} />
						<div id="sheepItForm_remove_current" class="span2" style="display: block;">
							<a href="#" class="delete-variable btn btn-danger btn-small"><i class="icon-white icon-trash"></i> 	Delete</a>
						</div>
				</div>
			{%- endmacro %}

			<div class="mine">
			{{ addVariableSection('#index#') }}
			</div>
			<!-- No forms template -->
			{%for name,options in meta_vars%}
				{{ addVariableSection(loop.index0, loop.index0, name, options) }}
			{%endfor%}

			<div id="sheepItForm_noforms_template" {%if vars %}class="hide"{%endif%}>No variables defined</div>
			<!-- /No forms template-->

			<div class="controls controls-row">
					<input  id="sheepItForm_add" type="button" class="btn pull-left" value="Add Varibale" />
			</div>
		</fieldset>
	</form>
	<div id="table_div_json"></div>

	{% if json %}
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
	<script>
			google.load('visualization', '1', {packages:['table']});
			google.setOnLoadCallback(drawTable);
			function drawTable() {
				var json_table = new google.visualization.Table(document.getElementById('table_div_json'));
				var json_data = new google.visualization.DataTable({{json|safe}}, 0.6);
				json_table.draw(json_data, {showRowNumber: true});
			}
	</script>
	{% endif %}
</div>
{% endblock %}