{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}

{% block body %}
    <div id="content">
        <h1>OAuth Clients</h1>

        <ul class="admin">
            {%for client in clients%}
                <li>
                    <a class="name" href="{{url_for('.edit', name=client.name) }}">{{client.name}}</a>
                    <a href="{{url_for('.delete', name=client.name) }}" class="btn btn-danger btn-small">
                        <i class="icon-white icon-trash"></i>Delete
                    </a>
                    <a href="{{url_for('.edit', name=client.name) }}" class="btn btn-small">
                        <i class="icon-edit"></i>Edit
                    </a>
                </li>
            {%endfor%}
        </ul>

        <a id="create" href="{{url_for('.new') }}" class="button big primary">
            Create an OAuth client
        </a>
    </div>
{% endblock %}