<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" media="screen">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-custom.css') }}" media="screen">

    {% if favico %}
    <link rel="icon" type="image/png" href="{{ favico }}">
    {% endif %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
         <div class="container">
            {% if logo %}
                    <img id="logo" src="{{ logo }}">
            {% endif %}

        <a class="brand" href="#">
            Data Explorer</a>
          <ul class="nav">
            <li {% if request.blueprint=='home_page'%}class="active"{%endif%}><a href="#">Home</a></li>
            <li {% if request.blueprint=='query'%}class="active"{%endif%}><a href="{{url_for('query.list')}}">Queries</a></li>
            <li {% if request.blueprint=='transformer'%}class="active"{%endif%}><a href="{{url_for('transformer.list')}}">Transformers</a></li>
            <li {% if request.blueprint=='connection_string'%}class="active"{%endif%}><a href="{{url_for('connection_string.list')}}">Connection Strings</a></li>
            <li {% if request.blueprint=='oauthclient'%}class="active"{%endif%}><a href="{{url_for('oauthclient.list')}}">OAuth Clients</a></li>
          </ul>
          <ul class="nav pull-right">
            {% if not g.user %}
              <li><a href="{{url_for('user.login')}}">Login</a></li>
            {%else%}
              <li><a>Hello {{g.user.username}} ({{g.user.email}})</a></li>
              <li><a href="{{url_for('user.logout')}}">Logout</a></li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    <div class="span9 offset2">
        {% block body %}{% endblock %}
    </div>
  </body>
</html>