<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-custom.css') }}" media="screen">

    {% if env_favico %}
    <link rel="icon" type="image/png" href="{{ env_favico }}">
    {% else  %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/generic_favico.png') }}">
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
            {% if env_logo %}
                <a href="{{url_for('homepage.index')}}">
                <img id="logo" src="{{ env_logo }}">
                </a>
            {% endif %}

            <a class="navbar-brand" href="{{url_for('homepage.index')}}">SQL Query Tool</a>
            <ul class="nav navbar-nav">
                <li {% if request.blueprint=='query'%}class="active"{%endif%}><a href="{{url_for('query.list_items')}}">Queries</a></li>
                <li {% if request.blueprint=='transformer'%}class="active"{%endif%}><a href="{{url_for('transformer.list')}}">Transformers</a></li>

                {% if not env_disable_connections %}
                    <li {% if request.blueprint=='connection_string'%}class="active"{%endif%}><a href="{{url_for('connection_string.list')}}">Connections</a></li>
                {% endif %}

                {% if not env_disable_oauth_clients %}
                    <li {% if request.blueprint=='oauthclient'%}class="active"{%endif%}><a href="{{url_for('oauthclient.list')}}">OAuth Clients</a></li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav pull-right">
                {% if not g.user %}
                  <li><a href="{{url_for('user.login')}}">Login</a></li>
                {%else%}
                  <li><a href="{{url_for('user.logout')}}">Logout ({{g.user.email}})</a></li>
                {%endif%}
              </ul>
      </div>
    </div>
    <div class="col-lg-10 col-offset-1">
        {% block body %}{% endblock %}
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.js"></script>

    {% block postbody %}{% endblock %}
  </body>
</html>