{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/tag-it/css/jquery.tagit.css') }}"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
{% endblock %}

{% block body %}
    <form method="post"
          action="{% if name %}{{ url_for('.edit', name=name) }}{% else %}{{ url_for('.new') }}{% endif %}">
        {% if error %}
            <div id="error-dialog" class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span id="error-message">{{ error }}</span>
            </div>
        {% endif %}
        <fieldset>
            <legend>Create a Connection</legend>
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{ name }}"
                           {% if name %}readonly="readonly"{% endif %} placeholder="Name" maxlength="100"/>
                </div>
                <div class="form-group">
                    <label for="url" class="control-label">Url</label>
                    <input class="form-control" type="text" id="url" name="url" value="{{ url }}"/>
                </div>
                {% if not env_disable_editors %}
                    <div class="form-group">
                        <label for="editors" class="control-label">Editors</label>
                        <ul id="editors">
                            {% for editor in editors %}
                                <li>{{ editor.email }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="headers" class="control-label">Headers</label>
                    <textarea class="form-control" id="headers" name="headers">{{ headers }}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-xxlarge pull-right" value="Save"/>
                </div>
            </div>
        </fieldset>
    </form>

    {% if not env_disable_connections_help %}
        <div class="alert alert-info">
            <span class="label label-info">Postgresql</span>
            <br>
            <br>
            # default<br>
            postgresql://scott:tiger@localhost/mydatabase<br>
            <br>
            # psycopg2<br>
            postgresql+psycopg2://scott:tiger@localhost/mydatabase<br>
            <br>
            # pg8000<br>
            postgresql+pg8000://scott:tiger@localhost/mydatabase<br>
            <br>
            # Jython<br>
            postgresql+zxjdbc://scott:tiger@localhost/mydatabase<br>
            <br>
            <span class="label label-info">Mysql</span><br>
            <br>
            # default<br>
            mysql://scott:tiger@localhost/foo<br>
            <br>
            # mysql-python<br>
            mysql+mysqldb://scott:tiger@localhost/foo<br>
            <br>
            # OurSQL<br>
            mysql+oursql://scott:tiger@localhost/fo<br>
            <br>
            <span class="label label-info">Oracle</span><br>
            <br>
            oracle://scott:tiger@127.0.0.1:1521/sidname<br>
            oracle+cx_oracle://scott:tiger@tnsname<br>
            <br>
            <span class="label label-info">Microsoft SQL Server</span><br><br>
            mssql+pyodbc://mydsn<br>
        </div>
    {% endif %}
{% endblock %}

{% block postbody %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="{{ url_for('static', filename='vendor/tag-it/js/tag-it.js') }}" type="text/javascript"
        charset="utf-8"></script>

    {% if not env_disable_editors %}
        <script type="text/javascript">
            $(function () {
                $("#editors").tagit({
                    fieldName: "editors",
                    allowSpaces: true
                });
            });
        </script>
    {% endif %}
{% endblock %}