{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}" media="screen">
{% endblock %}

{% block body %}
    <div id="content">
        <h1>Queries</h1>

        <ul class="admin">
            {%for connection in connections%}
                <li>
                    <a class="name" href="/connection/{{connection.name}}">{{connection.name}}</a>
                    <a href="/connection/{{connection.name}}/delete" class="btn btn-danger btn-small">
                        <i class="icon-white icon-trash"></i>Delete
                    </a>
                    <a href="/connection/{{connection.name}}" class="btn btn-small">
                        <i class="icon-edit"></i>Edit
                    </a>
                </li>
            {%endfor%}
        </ul>

        <a id="create" href="/connection/new" class="button pill big primary">
            Create a Connection String
        </a>
    </div>
{% endblock %}